<nav class="flex justify-between">
    <div class="text-4xl font-bold">Stanleys blog</div>
    <div class="flex pt-3 font-bold">
        <div class="navbar "><a href="/">Home page</a></div>
        <div class="navbar "><a href="/about-us">About page</a></div>
        <div class="navbar "><a href="/new-blog">Create a new blog</a></div>
        <div class="navbar "><a href="/signup-and-login">Sign up or login</a></div>
    </div>
</nav>