<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page | Learn more about our culture</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/more.css">
</head>
<body class="bg-gray-50">
    <div class="py-3 px-5">
        <%- include('./partials/header.ejs') %>
        <div class="mt-20">
            <div class="abt_header text-center text-7xl font-bold">About us - Our Blog</div>
            <div class="mt-5">
                Buhari was assigned to the 1st Division under the command of Lt. Col Mohammed Shuwa,[17] the division had temporarily moved from Kaduna to Makurdi at the onset of the Nigerian Civil War. The 1st division was divided into sectors and then battalions [18] with Shuwa assisted by sector commanders Martin Adamu and Sule Apollo who was later replaced by Theophilus Danjuma. Buhari's initial assignment was as Adjutant and Company Commander 2 battalion unit, Second Sector Infantry of the 1st Division. The 2 battalion was one of the units that participated in the first actions of the war, they started from Gakem near Afikpo and moved towards Ogoja with support from Gado Nasko's artillery squad.[19] They reached and captured Ogoja within a week with the intention of advancing through the flanks to Enugu, the rebel capital.[20] Buhari was briefly the 2 battalion's Commander and led the battalion to Afikpo to link with the 3rd Marine Commando and advance towards Enugu through Nkalagu and Abakaliki. However, before the move to Enugu, he was posted to Nsukka as Brigade Major of the 3rd Infantry Brigade under Joshua Gin who would later become battle fatigued and replaced by Isa Bukar.[21] Buhari stayed with the infantry for a few months as the Nigerian army began to adjust tactics learnt from early battle experiences. Instead of swift advances, the new tactics involved securing and holding on to the lines of communications and using captured towns as training ground to train new recruits brought in from the army depots in Abeokuta and Zaria.[21] In 1968, he was posted to the 4 Sector also called the Awka sector which was charged to take over the capture of Onitsha from Division 2. The sector's operations was within the Awka-Abagana-Onitsha region which was important to Biafran forces because it was a major source of food supply. It was in the sector that Buhari's group suffered a lot of casualties trying to protect food supplies route of the rebels along Oji River and Abagana.[22]
            </div>
        </div>
    </div>
</body>
</html>