<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page for the blog</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/more.css">
</head>
<body class="bg-gray-50">
    <div class="py-3 px-5">
        <%- include('./partials/header.ejs') %>
        <div class="flex flex-wrap my-8">
            <div class="boxer flex-shrink-0 p-3 px-5">
                <div class="text-2xl">Buhari is the most useless president in this world</div>
                <div class="flex justify-between py-3">
                    <div class="flex">
                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <div class="">2 days ago</div>
                    </div>
                    <div class="flex">
                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                            </svg>
                        </div>
                        <div class="">Stanley</div>
                    </div>
                </div>
                <div class="text-base leading-6">
                    Muhammadu Buhari GCFR (born 17 December 1942) is a Nigerian politician who has been president of Nigeria since 2015. Buhari is a retired Nigerian Army Major General and served as military head of state from 1983 to 1985, after taking power in a military coup d'état.[2][3]
                    The term Buharism is ascribed to the authoritarian policies of his military regime.[4][5] Buhari has said that he takes responsibility for anything over which he presided during his military rule, and that he cannot change the past. He has described himself as a "converted democrat".[6]
                </div>
                <div class="mt-3">
                    <button class="flex p-2 px-3 bg-blue-500 text-white shadow rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg> <p class="ml-2 relative ">Delete</p>
                    </button>
                </div>
            </div>
            <div class="boxer flex-shrink-0 p-3 px-5">
                <div class="text-2xl">Buhari is the most useless president in this world</div>
                <div class="flex justify-between py-3">
                    <div class="flex">
                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <div class="">2 days ago</div>
                    </div>
                    <div class="flex">
                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                            </svg>
                        </div>
                        <div class="">Stanley</div>
                    </div>
                </div>
                <div class="text-base leading-6">
                    Muhammadu Buhari GCFR (born 17 December 1942) is a Nigerian politician who has been president of Nigeria since 2015. Buhari is a retired Nigerian Army Major General and served as military head of state from 1983 to 1985, after taking power in a military coup d'état.[2][3]
                    The term Buharism is ascribed to the authoritarian policies of his military regime.[4][5] Buhari has said that he takes responsibility for anything over which he presided during his military rule, and that he cannot change the past. He has described himself as a "converted democrat".[6]
                </div>
                <div class="mt-3">
                    <button class="flex p-2 px-3 bg-blue-500 text-white shadow rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg> <p class="ml-2 relative ">Delete</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>