<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a new blog</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/more.css">
    <style>
        .bodman {
            box-shadow: 0 0 0 rgb(0,0,0, .1), 8px 8px 0 rgba(0,0,0,.06), 18px 18px 0 rgba(0,0,0,.03); 
            border-top: 2px solid slategrey;  border-left: 2px solid slategrey;
        }
        .inpCls { padding: 10px 15px; border: 2px solid #f1f2f6; position: relative; transition: all ease-out 100ms; background: #f1f2f6; }
        .inpCls:focus { top: 5px; outline-width: 3px; outline-style: dotted; outline-color: rgb(59, 130, 246); background: white; }
        .cjkAbu {
            background-image: linear-gradient(to right,#01baef,#4844a3 44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body class="bg-gray-50">
    <div class="py-3 px-5">
        <%- include('./partials/header.ejs') %>
        <div class="bodman mt-20 mx-auto mb-28 py-4 px-7 w-2/4 bg-white">
            <div class="cjkAbu pb-4 text-4xl font-bold">Create a new blog</div>
            <div class="">
                <div class="py-4">
                    <div class="text-lg font-bold">Title of blog</div>
                    <div class=""><input type="text" class="inpCls w-3/4 mt-2" id="title"></div>
                </div>
                <div class="py-4">
                    <div class="text-lg font-bold">Author of blog</div>
                    <div class=""><input type="text" class="inpCls w-3/4 mt-2" id="author"></div>
                </div>
                <div class="py-4">
                    <div class="text-lg font-bold">Content of blog</div>
                    <div class=""><textarea class="inpCls w-3/4 mt-2" id="content" cols="30" rows="5"></textarea></div>
                </div>
                <div class="py-4">
                    <button id="submitBtn" class="py-4 px-7 bg-blue-500 text-white shadow-md rounded font-bold">
                        <p class="relative ">Save your new blog</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // for submitting the new blog post
        document.getElementById('submitBtn').addEventListener('click', function (event) {
            const title = document.getElementById('title').value,
                author = document.getElementById('author').value,
                content = document.getElementById('content').value,
                snd = {title, author, content};


            fetch('http://localhost:8080/new-blog-post', {
                "method":"POST",
                "headers": {"Content-Type":"application/json"},
                "body":JSON.stringify(snd)
            }).then(re => re.json()).then(re => console.log(re));
        })
    });
</script>
</body>
</html>