<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New blog on this bratan</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/more.css">
    <style>
        .bodman { box-shadow: 0 0 0 rgb(0,0,0, .1), 8px 8px 0 rgba(0,0,0,.05); }
        .inpCls { padding: 10px 15px; border: 1px solid saddlebrown; }
    </style>
</head>
<body class="bg-gray-50">
    <div class="py-3 px-5">
        <%- include('./partials/header.ejs') %>
        <div class="bodman mt-20 py-4 px-7 mx-auto w-2/4 bg-white">
            <div class="">Create a new blog</div>
            <div class="">
                <div class="py-4">
                    <div class="">Title of blog</div>
                    <div class=""><input type="text" class="inpCls shadow-md"></div>
                </div>
                <div class="py-4">
                    <div class="">Author of blog</div>
                    <div class=""><input type="text" class="inpCls shadow-md"></div>
                </div>
                <div class="py-4">
                    <div class="">Content of blog</div>
                    <div class=""><input type="text" class="inpCls shadow-md"></div>
                </div>
                <div class="py-4">
                    <button class="flex p-2 px-3 bg-blue-500 text-white shadow rounded">
                        <p class="relative ">Save your new blog</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>