<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New blog on this bratan</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/more.css">
    <style>
        .bodman {
            box-shadow: 0 0 0 rgb(0,0,0, .1), 8px 8px 0 rgba(0,0,0,.07), 18px 18px 0 rgba(0,0,0,.04); 
            border-top: 2px solid slategrey;  border-left: 2px solid slategrey;
        }
        .inpCls { padding: 10px 15px; border: 2px solid #f1f2f6; position: relative; transition: all ease-out 70ms; }
        .inpCls:focus { top: 3px; outline-width: 4px; outline-style: dotted; outline-color: rgb(59, 130, 246); }
        .cjkAbu {
            /* background-image: linear-gradient(to right, #7ee8fa 0%, #0d324d 74%); */
            background-image: linear-gradient(to right,#01baef,#4844a3 44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body class="bg-gray-50">
    <div class="py-3 px-5">
        <%- include('./partials/header.ejs') %>
        <div class="bodman mt-20 mx-auto mb-28 py-4 px-7 w-2/4 bg-white">
            <div class="cjkAbu pb-4 text-4xl font-bold">Create a new blog</div>
            <div class="">
                <div class="py-4">
                    <div class="text-lg font-bold">Title of blog</div>
                    <div class=""><input type="text" class="inpCls shadow-md w-3/4 mt-1"></div>
                </div>
                <div class="py-4">
                    <div class="text-lg font-bold">Author of blog</div>
                    <div class=""><input type="text" class="inpCls shadow-md w-3/4 mt-1"></div>
                </div>
                <div class="py-4">
                    <div class="text-lg font-bold">Content of blog</div>
                    <div class=""><textarea class="inpCls shadow-md w-3/4 mt-1" cols="30" rows="5"></textarea></div>
                </div>
                <div class="py-4">
                    <button class="flex p-2 px-3 bg-blue-500 text-white shadow-md rounded">
                        <p class="relative ">Save your new blog</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>