<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up or Login into your account</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/more.css">
    <style>
        .inpCls { padding: 10px 15px; border: 2px solid #f1f2f6; position: relative; transition: all ease-out 100ms; background: #f1f2f6; }
        .inpCls:focus { top: 5px; outline-width: 3px; outline-style: dotted; outline-color: rgb(59, 130, 246); background: white; }
        button:active { position: relative; top: 2px; }
    </style>
</head>
<body class="bg-gray-50">
    <div class="py-3 px-5">
        <%- include('./partials/header.ejs') %>

        <div class="mt-20 mx-auto w-3/4 text-3xl">Already a user, then Sign in</div>
        <div class="mt-5 mx-auto w-3/4 bg-white p-5 pl-10 flex justify-around">
            <div class="LogBamCvr w-2/4">
                <div class="mt-5 mb-7"><p class="text-lg font-bold">Username</p> <p><input id="Luser" class="inpCls w-3/4 mt-2" type="text" value=""/></p></div>
                <div class="mt-5 mb-7"><p class="text-lg font-bold">Password</p> <p><input id="Lpass" class="inpCls w-3/4 mt-2" type="password" value=""/></p></div>
                <div class="LogDBtn"><button id="loginBtn" class="py-3 px-7 bg-blue-500 text-white shadow-md rounded font-bold">Done, Sign-in</button></div>
            </div>
            <div class="LogBamCvr w-2/4">
                <div class="mt-5 mb-7"><p class="text-lg font-bold">New username</p> <p><input id="Nuser" class="inpCls w-3/4 mt-2" type="text" value="stanley"/></p></div>
                <div class="mt-5 mb-7"><p class="text-lg font-bold">Your email</p> <p><input id="Nemail" class="inpCls w-3/4 mt-2" type="text" value="stan@gmail.com"/></p></div>
                <div class="mt-5 mb-7"><p class="text-lg font-bold">New password</p> <p><input id="Npass" class="inpCls w-3/4 mt-2" type="password" value=""/></p></div>
                <div class="LogDBtn"><button id="newBtn" class="py-3 px-7 bg-blue-500 text-white shadow-md rounded font-bold">Register</button></div>
            </div>
        </div>

    </div>

<script>
    // for registering or loggin into a user account
    window.addEventListener('DOMContentLoaded', (event) => {
        // for login
        document.getElementById('loginBtn').addEventListener('click', function (event) {
            const Luser = document.getElementById('Luser').value, Lpass = document.getElementById('Lpass').value, snd = {Luser, Lpass};

            fetch('http://localhost:8080/', {
                "method":"POST", "headers": {"Content-Type":"application/json"}, "body":JSON.stringify(snd)
            }).then(re => re.json()).then(re => console.log(re));
        })


        // for registering
        document.getElementById('newBtn').addEventListener('click', function (event) {
            const Nuser = document.getElementById('Nuser').value, Npass = document.getElementById('Npass').value,
                Nemail = document.getElementById('Nemail').value, snd = {Nuser, Npass, Nemail};

            fetch('http://localhost:8080/users/register-user', {
                "method":"POST", "headers": {"Content-Type":"application/json"}, "body":JSON.stringify(snd)
            }).then(re => re.json()).then(re => console.log(re));
        })
    });
</script>
</body>
</html>