.boxer {
    width: 45%; margin-right: 3%; background-color: white;
    box-shadow: 0 0 4px rgb(0,0,0, .1), 8px 8px 0 rgba(0,0,0,.05);
    border-left-width: 4px;
    border-left-style: solid;
    border-image: linear-gradient(to top, #fce055, #256eff) 1 100%;
    border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}


.abt_header {
    background-image: linear-gradient(to right, #7ee8fa 0%, #0d324d 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}